@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
  font-family: 'Merienda';
  text-align: center;
  padding: 0 10%;
  background-image: url('./img/main_bg.jpg');
}